__pycache__/*
*.py[cod]
*$py.class
**/*.pyc

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
*.idea/
*.pydevproject

# Other
*.log
*.swp
*.bak